<div class="max-w-2xl mx-auto my-8 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">Task Form</h2>
  
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="space-y-6">
        {{ '2024-11-29T23:33:00.000Z' | date:'short' }}

      <!-- Name Field -->
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
        <input type="text" id="name" formControlName="name"
               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
               placeholder="Enter task name">
        <div *ngIf="taskForm.get('name')?.touched && taskForm.get('name')?.invalid" class="text-red-500 text-xs mt-1">
          <div *ngIf="taskForm.get('name')?.errors?.['required']">Name is required.</div>
          <div *ngIf="taskForm.get('name')?.errors?.['pattern']">Name cannot be just spaces.</div>
        </div>
      </div>
  
      <!-- Due Date Field -->
      <div>
        <label for="due_date" class="block text-sm font-medium text-gray-700">Due Date and Time</label>
        <input type="datetime-local" id="due_date" formControlName="due_date"
               [min]="minDate" 
               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        <div *ngIf="taskForm.get('due_date')?.touched && taskForm.get('due_date')?.invalid" class="text-red-500 text-xs mt-1">
          <div *ngIf="taskForm.get('due_date')?.errors?.['required']">Due date is required.</div>
          <div *ngIf="taskForm.get('due_date')?.errors?.['min']">Due date and time must be tomorrow or later.</div>
        </div>
      </div>
  
      <!-- Pattern Field -->
      <div>
        <label for="pattern" class="block text-sm font-medium text-gray-700">Pattern</label>
        <select id="pattern" formControlName="pattern"
                class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option value="">Select Pattern</option>
          <option value="daily">Daily</option>
          <option value="weekly">Weekly</option>
          <option value="monthly">Monthly</option>
        </select>
        <div *ngIf="taskForm.get('pattern')?.touched && taskForm.get('pattern')?.invalid" class="text-red-500 text-xs mt-1">
          <div *ngIf="taskForm.get('pattern')?.errors?.['required']">Pattern is required.</div>
        </div>
      </div>
  
      <!-- Submit Button -->
      <div class="flex justify-center mt-6">
        <button type="submit"
                class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
          Submit
        </button>
      </div>
    </form>
  </div>
  